
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

h2, p{
    color: white;
}

ul, ol, li{
    list-style: none;
}

html, body{
    scroll-behavior: smooth;
}

header{
    position: fixed;
    width: 100vw;
    background-color: black;
    padding: 34px;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav a{
    color: white;
}

header nav a:hover{
    background: #278cba;
    transition: 1s;
}

.grupo{
    height: 100vh;
}

#Line{
    background-color: #1a253b;
}
#Map{
    background-color: #273751;
}
#Dano{
    background-color: #1a253b;
}
#Vida{
    background-color: #273751;
}
#Ponto{
    background-color: #1a253b;
}
#Bild{
    background-color: #273751;
}
#Magic{
    background-color: #1a253b;
}

img{
    height: 1417px;
}

.historia{
    margin-left: 48%;
    margin-top: 10%;
    height: 700px;
                                                                                                                                           
}

.mapa{
    margin-left: 48%;
    height: 600px;
}
.area{
    margin-left: 48%;
    height: 600px;
}
.corno{
    margin-left: 48%;
    height: 400px;
}