
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
}

html, body{
    scroll-behavior: smooth;
}

header{
    position: fixed;
    width: 100vw;
    background-color: black;
    padding: 34px;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav a{
    color: white;
}

header nav a:hover{
    background: white;
    transition: 1s;
}

.grupo{
    height: 100vh;
}

#Line{
    background-color: red;
}
#Map{
    background-color: green;
}
#Dano{
    background-color: blue;
}
#Vida{
    background-color: yellow;
}
#Ponto{
    background-color: purple;
}
#Bild{
    background-color: black;
}
#Magic{
    background-color: brown;
}

img{
    height: 1417px;
}

.conteiner img{
    height: 500px;
}